<h1>Admins::Users#index</h1>
<p>Find me in app/views/admins/users/index.html.erb</p>
<h2>ユーザー一覧</h2>
<!--<%# @users.each do |user| %>
  <p><%#= "id: #{user.id} name: #{user.name} email: #{user.email} " %><%#= link_to "Edit", edit_admins_user_path(user) %> <%#= link_to "Show", admins_user_path(user) %></p>
<%# end %>-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">ユーザーネーム</th>
      <th scope="col">Created at</th>
      <th scope="col">メールアドレス</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>