<h1>New Cafe</h1>

<%= form_with(model: @cafe_list, url: cafe_lists_path, local: true) do |form| %>
    <%= render :partial => 'form', :locals => {:form => form}, post: @cafe_lists %>
<% end %>


<%= link_to 'Back', cafe_lists_path %>