<h1>Editing Cafe List Cashlesstag</h1>

<%= render 'form', cafe_list_cashlesstag: @cafe_list_cashlesstag %>

<%= link_to 'Show', @cafe_list_cashlesstag %> |
<%= link_to 'Back', cafe_list_cashlesstags_path %>
