<h1>beans</h1>

<img src="https://bibium.com/wp-content/uploads/2019/02/bibium_beanbelt.png" class="img-fluid" alt="Responsive image">

<section class="delighter" data-delighter>
    <h2 class= "left delighter" data-delighter>Region</h2>
    <div class="brazil">
        <div class="box">1.Brazil</div>
        <pre>
            Brazil is the largest exporter in the world, supplying approximately 60% of the world's coffee - this is due in part to the sheer size of the country. While Brazil is a prolific exporter, it's average elevation for coffee production is only about 1,100 meters. This qualifies most of it as High Grown Coffee (900-1,200 meters), but some crops certainly fall below that threshold.
    
            Many high quality espresso blends are made from either Bourbon Santos or Brazil Cerrado due to the ability of Brazilian coffees to take dark roasts without turning overly bitter. This is due in part to the mild, balance flavour of Brazilian coffee beans.
        </pre>
    </div>
    <div class="box">2.Ethopia</div>
    <div class="box">3.Kenya</div>

</section>