<section class="colA">
    <div class="pc">
        <%= image_tag 'about1920.png' %>
    </div>
    <div class="sp">
        <%= image_tag 'col-sm.png' %>
    </div>
</section>

<section class="inquiry">
    <%= render 'inquiry/form' %>
</section>