// Place all the styles related to the beans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.box {
  position: relative;
  width: 50%; height: 30vh;
  text-align: center;
  font-size: 0.8em;
  padding: 30px;
  display: inline-block;
  
}
.box:nth-child(2) { background: #f8c82d; }
.box:nth-child(3) { background: #0aba58; }

.bean-disc {
  font-size: .75em;
  background: #B2B1B2; color: #fff;
  padding: 20px;
  width: 100%;
}

