:root {
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --accent-color: #BF6A7A;
  --main-color: #5E5B4C;
}

main {
  // height: calc(100vh - 50px);
  // min-height: calc(100% + 60px);//0409修正
  margin-top: 60px;
  // padding-top: 60px
}

body {
    background-color: #465251;
    background-color: var(--main-color);
}

header {
  height: 60px;
  background: transparent;
}

// .header > .navbar {
//   background-image:url(背景画像のurl);
//   min-height: 500px;
// }

.bg-home {
  background-color: #4B3A33;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #242424;
}
 
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  background-color: #FDF2EB ;
} 
 
 
.footer > .container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.carousel{
  min-height: 180px;
}

.carousel-item img {
    height: 30vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  .card {
    height: 97%;
    margin-bottom: 3%;
    max-height: 3500px;
  }
}

.card-img-top {
    width: 340px;
    flex-shrink:0;
    height: 200px;
    object-fit: contain;
 }
 
 .card-body {
   height: 40%;
 }
 
 .line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; 
}

.thumbnail {
    display: inline-block; /* ここがポイント */
    width: 348px;
    height: 255px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.thumbnail img {
    height: 100%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain; /* トリミングせずに余白を表示する */
}


.container-fluid {
  //height: calc(100vh - 60px);
}

/*delighter animation */

.delighter.splash {
    transition: all 2s ease-out;
}

.delighter.splash.ended {
    background: #212529;
}

.delighter.left { transform:translate(100%); opacity:0; transition: all .75s ease-out; }
.delighter.left.started { transform:none; opacity:1; }

.delighter .box { transition: all 1s ease-out; }
.delighter .box:nth-child(1) { transform: translate(-100%, 0); }
.delighter .box:nth-child(2) { transform: translate(170%, -70%); }
.delighter .box:nth-child(3) { transform: translate(20%, 0%); }

.delighter.started .box:nth-child(1) { transform: translate(0, 0); }
.delighter.started .box:nth-child(2) { transform: translate(70%, -70%); }
.delighter.started .box:nth-child(3) { transform: translate(20%, -120%); }

.delighter pre {  
  display: block; transition: all 2s ease-out; opacity: 0;
  padding: 20px 0;
  width: 1px; overflow: hidden;
}
.delighter.started pre {
  max-width: 99999px; width: 100%; opacity: 1;
}

