<h1>Admins::CafeLists#index</h1>
<p>Find me in app/views/admins/cafe_lists/index.html.erb</p>
<h2>投稿一覧</h2>


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">店名</th>
      <th scope="col">Created at</th>
      <th scope="col">Created by</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @cafe_lists %>
  </tbody>
</table>

