<h1>Editing Review</h1>

<%= form_with(model: @review, url: cafe_list_review_path, local: true) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true}, post: @reviews %>
<% end %>

<%= link_to 'Back', cafe_list_reviews_path %>